<div class="container">

    <div class="d-flex justify-content-between my-3">
        <h4>Gestión de productos</h4>
        <div>
            <button class="btn btn-danger" (click)="logout()">LOGOUT</button>
            <button class="btn btn-primary" (click)="back()">VOLVER</button>
        </div>
    </div>

    <button class="btn btn-primary" (click)="create()">NUEVO PRODUCTO</button>

    <table class="table">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>
        </tr>
        @for (item of productos; track $index) {
            <tr>
                <td>
                    <button class="btn btn-sm btn-warning" (click)="edit(item.id)">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(item.id)">Eliminar</button>
                </td>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.categoria}}</td>
            </tr>    
        }
    </table>
</div>

